body {
    background-color: #131723;
    color: #E10605;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #FEB88C;
    font-size: 100px;
}

#message {
    margin-top: 20px;
    font-size: 30px;
}

table, tr, th, td {
    border: 1px solid #E10605;
}

th {
    color: #E10605;
    width: 200px;
}

td {
    color: #a03535;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin-top: 20px;
}

.dp-none {
    display: none;
}

#loader {
    height: 250px;
}

.page-buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

button {
    color: #FEB88C;
    border: 1px solid #FEB88C;
    background-color: #131723;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
}